
<div>
        <form [formGroup]="reactiveForm" >
        <div class="form-group">
            <label for="fname">First Name:</label>
            <input type="text"  formControlName="firstName" placeholder="Please Enter First Name" class="form-control" id="fname">
            <div
                  class="alert alert-danger"
                  *ngIf="submitted && f.firstName.errors"
                >Please Enter First Name
                </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text"  formControlName="email"  placeholder="Please Enter Email"  class="form-control" id="email">
            <div
            class="alert alert-danger"
                  *ngIf="submitted && f.email.errors"
                >
                  <span *ngIf="f.email.errors.required"
                    >Please Enter Email</span
                  >
                  <span *ngIf="f.email.errors.email"
                    >Please Enter Valid Email</span
                  >
                </div>
        </div>
        <div class="form-group">
            <label for="skills">Skills:</label>
            <app-skills  placeholder="Please Add skill and press enter button"  formControlName="skills" value="something"></app-skills>
            <div
                  class="alert alert-danger"
                  *ngIf="submitted && f.skills.errors"
                >Please At Least one Skill (Note: Please hit enter after adding skills)
                </div>
        </div>
            
<button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>
            
</div>
    